<h1>Monitoring results</h1>

<h2>Average results for last week:</h2>
<p>Sleep duration: <%= week.slp_dur %></p>
<p>Quality of sleep: <%= week.slp_qlty %></p>
<p>Time spent on sports: <%= week.time_sport %></p>
<p>Time spent studying: <%= week.time_sport %></p>
<p>Regularity and quality of eating: <%= week.eating %></p>

<h2>Average results for the last month:</h2>
<p>Sleep duration: <%= month.slp_dur %></p>
<p>Quality of sleep: <%= month.slp_qlty %></p>
<p>Time spent on sports: <%= month.time_sport %></p>
<p>Time spent studying: <%= month.time_study %></p>
<p>Regularity and quality of eating: <%= month.eating %></p>
