<h1>Monitoring results</h1>
<ul>
  <% results.forEach(result => { %>
    <li>
      <%= result.date.toLocaleDateString() %>, <%= result.slp_dur %>, <%= result.slp_qlty %>, <%= result.mood %>,
      <%= result.email %>
    </li>
  <% }); %>
</ul>
