<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-2">Self monitoring service</h1>
    <h2 class="subtitle">
      This service tracks your mental health by simple
      queries performed every morning and evening.
    </h2>
  </div>
</section>

<% if (user && user.email) { %>
  <nav class="level">
    <% if (today.mood) { %>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Average mood today</p>
          <p class="title"><%= today.mood %></p>
        </div>
      </div>
    <% } %>

    <% if (yesterday.mood) { %>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Average mood yesterday</p>
          <p class="title"><%= yesterday.mood %></p>
        </div>
      </div>
    <% } %>
  </nav>
<% } %>

<section class="section">
  <div class="content has-text-centered">
    <% if (user && user.email) { %>
      <% if (today.mood && yesterday.mood) { %>
        <% if (today.mood > yesterday.mood) { %>
          <h3>Things are looking bright today!</h3>
        <% } else if (today.mood < yesterday.mood) { %>
          <h3>Things are looking gloomy today.</h3>
        <% } %>
      <% } %>

      <% if (user && user.email && !today.mood && !yesterday.mood) { %>
        <h3>There is no data reported for today or for yesterday</h3>
      <% } %>
    <% } else { %>
      <h3>Please <strong>log in</strong> or <strong>register</strong> to start using the service.</h3>
    <% } %>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
