<%- include('./partials/header.ejs') %>

<script>
const chooseMorning = () => {
  const morning = document.querySelector("#morning_reporting");
  const evening = document.querySelector("#evening_reporting");
  const morning_btn = document.querySelector("#choose_morning");
  const evening_btn = document.querySelector("#choose_evening");

  if ((morning.style.display = "none")) {
    morning.style.display = "block";
    morning_btn.style.display = "none";
    evening.style.display = "none";
    evening_btn.style.display = "block";
  }
};

const chooseEvening = () => {
  const morning = document.querySelector("#morning_reporting");
  const evening = document.querySelector("#evening_reporting");
  const morning_btn = document.querySelector("#choose_morning");
  const evening_btn = document.querySelector("#choose_evening");

  if ((morning.style.display = "none")) {
    evening.style.display = "block";
    evening_btn.style.display = "none";
    morning.style.display = "none";
    morning_btn.style.display = "block";
  }
};
</script>

<div id="morning_reporting" style="display: none">
  <h1>Report morning behavior</h1>
  <form action="/behavior/reporting/morning" method="POST">
    <div>
      <label>Date (Default is today): </label>
      <input type="date" name="morning_date" value="<%= morning_date %>">
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'morning_date'}) %>
    </div>

    <div>
      <label>Time slept: </label>
      <input type="number" name="slp_dur" value="<%= sleep_duration %>">
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'sleep_duration'}) %>
    </div>

    <div>
      <label>Quality of sleep on a scale of 1-5: </label><br>
      <input type="radio" id="slp1" value="1" name="slp_qlty" <%= sleep_quality == 1 ? 'checked' : '' %>>
      <label for="slp1">1</label>
      <input type="radio" id="slp2" value="2" name="slp_qlty" <%= sleep_quality == 2 ? 'checked' : '' %>>
      <label for="slp2">2</label>
      <input type="radio" id="slp3" value="3" name="slp_qlty" <%= sleep_quality == 3 ? 'checked' : '' %>>
      <label for="slp3">3</label>
      <input type="radio" id="slp4" value="4" name="slp_qlty" <%= sleep_quality == 4 ? 'checked' : '' %>>
      <label for="slp4">4</label>
      <input type="radio" id="slp5" value="5" name="slp_qlty" <%= sleep_quality == 5 ? 'checked' : '' %>>
      <label for="slp5">5</label>
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'sleep_quality'}) %>
    </div>

    <div>
      <label>General mood on a scale of 1-5: </label><br>
      <input type="radio" id="morning_mood1" value="1" name="morning_mood" <%= morning_mood == 1 ? 'checked' : '' %>>
      <label for="morning_mood1">1</label>
      <input type="radio" id="morning_mood2" value="2" name="morning_mood" <%= morning_mood == 2 ? 'checked' : '' %>>
      <label for="morning_mood2">2</label>
      <input type="radio" id="morning_mood3" value="3" name="morning_mood" <%= morning_mood == 3 ? 'checked' : '' %>>
      <label for="morning_mood3">3</label>
      <input type="radio" id="morning_mood4" value="4" name="morning_mood" <%= morning_mood == 4 ? 'checked' : '' %>>
      <label for="morning_mood4">4</label>
      <input type="radio" id="morning_mood5" value="5" name="morning_mood" <%= morning_mood == 5 ? 'checked' : '' %>>
      <label for="morning_mood5">5</label>
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'morning_mood'}) %>
    </div>

    <div>
      <input type="submit" value="Submit morning behavior">
    </div>
  </form>
</div>

<div id="evening_reporting" style="display: none">
  <h1>Report evening behavior</h1>
  <form action="/behavior/reporting/evening" method="POST">
    <div>
      <label>Date (Default is today): </label>
      <input type="date" name="evening_date" value="<%= evening_date %>">
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'evening_date'}) %>
    </div>

    <div>
      <label>Time spent on sports and exercise: </label>
      <input type="number" name="time_sport" value="<%= time_sport %>">
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'time_sport'}) %>
    </div>

    <div>
      <label>Time spent studying: </label>
      <input type="number" name="time_study" value="<%= time_study %>">
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'time_study'}) %>
    </div>

    <div>
      <label>Regularity and quality of eating on a scale of 1-5: </label><br>
      <input type="radio" id="eat1" value="1" name="eating" <%= eating == 1 ? 'checked' : '' %>>
      <label for="eat1">1</label>
      <input type="radio" id="eat2" value="2" name="eating" <%= eating == 2 ? 'checked' : '' %>>
      <label for="2">2</label>
      <input type="radio" id="eat3" value="3" name="eating" <%= eating == 3 ? 'checked' : '' %>>
      <label for="eat3">3</label>
      <input type="radio" id="eat4" value="4" name="eating" <%= eating == 4 ? 'checked' : '' %>>
      <label for="eat4">4</label>
      <input type="radio" id="eat5" value="5" name="eating" <%= eating == 5 ? 'checked' : '' %>>
      <label for="eat5">5</label>
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'eating'}) %>
    </div>

    <div>
      <label>General mood on a scale of 1-5: </label><br>
      <input type="radio" id="evening_mood1" value="1" name="evening_mood" <%= evening_mood == 1 ? 'checked' : '' %>>
      <label for="evening_mood1">1</label>
      <input type="radio" id="evening_mood2" value="2" name="evening_mood" <%= evening_mood == 2 ? 'checked' : '' %>>
      <label for="evening_mood2">2</label>
      <input type="radio" id="evening_mood3" value="3" name="evening_mood" <%= evening_mood == 3 ? 'checked' : '' %>>
      <label for="evening_mood3">3</label>
      <input type="radio" id="evening_mood4" value="4" name="evening_mood" <%= evening_mood == 4 ? 'checked' : '' %>>
      <label for="evening_mood4">4</label>
      <input type="radio" id="evening_mood5" value="5" name="evening_mood" <%= evening_mood == 5 ? 'checked' : '' %>>
      <label for="evening_mood5">5</label>
      <%- include('./partials/errors.ejs', { errors: errors, attribute: 'evening_mood'}) %>
    </div>

    <div>
      <input type="submit" value="Submit evening behavior">
    </div>
  </form>
</div>

<button id="choose_morning" onclick="chooseMorning()">Choose Morning</button>

<button id="choose_evening" onclick="chooseEvening()">Choose Evening</button>

<%- include('./partials/footer.ejs') %>
